.formContainer {
    width: 100%
}

.form {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.form input {
    margin-left: 5px;
    border-radius: 5px;
    border: none;
    font: inherit;
}

.button {
    padding: 5px 8px;
    font: inherit;
    border-radius: 10px;
    border: none;
}

.range {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.checkbox {
    margin: 0 10px;
}

/* Mobile */
@media (max-width: 1028px) {
    .form { 
        flex-direction: column;
        gap: 20px;
    }

    .form label {
        display: block;
        padding-bottom: 7px;
        text-align: center;
    }
    .form input {
        margin-left: 0;
        padding: 5px 10px;
    }
    .form label[for=mass-range] {
        padding-bottom: 0;
    }
    .form span {
        padding-right: 4px;
    }
}