.mapContainer {
    width: 90%;  
    height: 700px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);  
    border-radius: 8px;  
    overflow: hidden;
    border: double 4px transparent;
    background-image: linear-gradient(white, white), linear-gradient(45deg, #2D3142, #2D3142); /* updated gradient here */
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.mapboxgl-scroll-zoom-block{
    display: none !important;
}

.mapboxgl-touch-pan-blocker{
    display: none !important;
}

/* @media (min-width: 1400px) {
    .mapContainer {
        width: 43%;
    }
} */
