.mapContainer {
    width: 60%;  
    height: 400px;
    margin: 0 auto;  
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);  
    border-radius: 8px;  
    overflow: hidden;
    border: double 4px transparent;
    background-image: linear-gradient(white, white), linear-gradient(45deg, #d1bf78, #ed9a57);
    background-origin: border-box;
    background-clip: content-box, border-box;
}