.meteorInfoContainer {
  background-color: rgba(247, 249, 252, 0.9);
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 80%;
  justify-content: center;
}

.meteorInfoHeader,
.meteorInfoSubHeader {
  color: #333;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.meteorInfoParagraph {
  color: #555;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.meteorInfoList {
  padding-left: 20px;
  color: #555;
  font-size: 16px;
}

.meteorInfoListItem {
  margin-bottom: 10px;
}

.meteorInfoStrong {
  color: #222;
}

.meteorInfoItalicParagraph {
  font-style: italic;
}
