.navbar {
    background-color: #937666;
    color: #f9f9f9;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.navItem {
    color: #f1f1f4;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background 0.3s;
}

.navItem:hover {
    background-color: #3D3A4B;
}

.toggleBtn {
    position: absolute;
    left: 10%;
    top: 3%;
}