.navbar {
    background-color: #2d3142;
    color: #E5DADA;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.navItem {
    color: #f1f1f4;
    text-decoration: none;
    /* padding: 0.5rem 1rem; */
    transition: background 0.3s;
}

.navItem:hover {
    background-color: #3D3A4B;
}

.search {
    display: flex;
    position: absolute;
    left: 90%;
}

.closeBtn {
    border: none;
    color: white;
    background-color: #2d3142;
    font: inherit;
    font-weight: bold;
    transform: translateX(300%);
}

.openBtn {
    border: none;
    color: white;
    background-color: #2d3142;
    font: inherit;
}

.searchIcon {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    transform: translateY(3px);
}

