.chartContainer {
    position: relative;
    overflow-x: scroll;
    white-space: nowrap;
}

.chartWrapper {
    display: flex;
    align-items: center;
}

.toggleButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #2D3142;
    margin: 0;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
    font-family: inherit;
}

.toggleButton:hover {
    background-color: #1A1D2B;
}
