.chartContainer {
    position: relative;
    /* overflow-x: scroll; */
    white-space: nowrap;
    padding-bottom: 0;
}

.chartWrapper {
    display: flex;
    align-items: center;
}

.toggleButton {
    position: absolute;
    top: 47px;
    right: 10px;
    background-color: #e5dada;
    margin: 0;
    color: #2d3142;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
    font-family: inherit;
}

.toggleButton:hover {
    background-color: #f4eeee;
}
